<header class="header">
    <div class="header__fixed">
        <div class="header__content">
            <div class="container-fluid">
            <div class="header__container mt-2">
                <div class="header__column">
                    <span class="header__city">Санкт-Петербург<img src="../../assets/img/svg-icons/arrow-bold.svg" alt=""></span>
                    <span class="header__shop"><img src="../../assets/img/svg-icons/location.svg" alt="">Магазины</span>
                </div>
                
                <div class="header__column">
                    <a class="header__num" href="tel:+78005554433">+7 (800) 555-44-33</a>
                    <button class="header__btn">Обратный звонок</button>
                </div>
            </div>
        </div>
    </div>

    
</header>