<div class="menu__page">
    <div class="menu__fixed">
        <div class="menu__main">
            <div class="menu__main__header">
                <a class="asanov__logo" href=""><img src="../../assets/img/svg-icons/asanov.svg" alt=""></a>
            </div>

            
            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/sofa.svg" alt="">Диваны и кресла</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/closet.svg" alt="">Шкафы</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/kitchen.svg" alt="">Мебель для кухни</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/room.svg" alt="">Гостинные</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/bedroom.svg" alt="">Спальни</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/subtrackt.svg" alt="">Мебель для прихожей</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/child.svg" alt="">Детская мебель</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/table.svg" alt="">Столы и стулья</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/office.svg" alt="">Офисная мебель</div>
                <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/rotang.svg" alt="">Мебель из ротанга</div>
            </div>

            <div class="menu__main__item">
                <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/premium.svg" alt="">Мебель премиум-класса</div>
            </div>

            <div class="menu__main__item__last">
                <div class="menu__main__item">
                    <div><img class="menu__main__item__icon" src="../../assets/img/svg-icons/more.svg" alt="">Условия покупки</div>
                    <img src="../../assets/img/svg-icons/arrow-right.svg" alt="">
                </div>
            </div>


            <div class="menu__main__tab menu__main menu__page">
                <h1 class="menu__main__tab__title">Диваны и кресла</h1>

                <div class="menu__main__tab__item menu__main__item">
                    Все диваны
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Диваны-кровати
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Угловые кожаные диваны
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Угловые тканевые диваны
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Прямые кожаные диваны
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Прямые тканевые диваны
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Кресла для гостиной
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Кресла-груши
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Офисные кресла
                </div>

                <div class="menu__main__tab__item menu__main__item">
                    Пуфы и банкетыки
                </div>
            </div>
            
        </div>
    </div>
</div>

