@import "vars";

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica_bold.otf') format(otf),
         url('../fonts/helvetica_regular.otf') format(otf);
}

/* Default styles */
html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'Helvetica', sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;  
    max-width: 1275px;  
    margin: 0 auto;
}

.page {
    display: flex;
    width: 100%;
    overflow: hidden;
}


/* Bootstrap */

@import "../../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";


/* Blocks */

@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";
@import "blocks/menu";